<ion-view title="Conversation" ng-controller="chatController" class="chatView">
  <ion-content style="text-align:center">
      <div class="messageDiv">
        <div ng-cloak ng-repeat="message in userMessages">
          <div ng-if="!!message.content">
            {{ message.senderDisplayName }}: {{ message.content }}
          </div>
        </div>
      </div>
      <div>
          <form>
            <label class="item item-input item-stacked-label">
              <input type="text" placeholder="write message" ng-model="comment.content">
            </label>
            <button class="button button-small button-assertive" style="font-size: 18px; margin-top:5px;margin-bottom:5px" type="submit" ng-click="sendComment()">
              send message
            </button>
            <br>
          </form>
      </div>
    <!-- </div> -->
    <div style="font-size:12px; border-style:solid; border-width:1px">
      <p class="bodyFont"> You are chatting in reference to the following offer:<br>
      Ride: {{ selected.ride }}<br>
      Pass start time: {{ selected.timeString }}<br>
      {{ selected.number_give }}<br>
      free or trade: {{ selected.comment }}<br>
    </div>
      see map
  </button> -->
  </ion-content>
</ion-view>
