<ion-view title="Details" ng-controller="listController" class="padding">
  <ion-content style="text-align:center">        
    <p> Name: {{ selected.displayName }}<br>
    Ride: {{ selected.ride }}<br>
    Pass Start Time: {{ selected.timeString }}<br>
   {{ selected.number_give }}<br>
    Free or trade: {{ selected.comment }}<br>
    Offerer's current location: {{ selected.location }}</p>

      <a class="button button-assertive" ui-sref="app.chat">Make Connection</a>

  </ion-content>
</ion-view>
